.cta__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3rem;
}

.button__container {
    display: grid;
    place-content: center;
}

.cta__button {
    width: 250px;
    padding: 0.5rem;
    border-radius: 22px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.cta__button {
    color: black;
}

.enquire__button {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;

}


.enquire__button:hover {
    filter: brightness(120%) saturate(120%);
    background-image: url('../../assets/images/marble_background2.jpg');
}

.gallery__button {
    background-color: black;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;

}

.gallery__button:hover {
    background-image: url('../../assets/images/black_marble.jpg');
    
}
