/* Page container */
.contact__container {
  display: grid;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  /* padding-top: 3rem; */
}

/* Main form container */
.contact__form {
  width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 0.4fr 0.8fr;
}

.order__options {
  display: grid;
  gap: 0.8rem;
  justify-content: end;
  align-items: center;
}

.misc__title {
  text-align: center;
  background-color: rgb(139, 176, 224);
  border-radius: 12px;
}

.table__sq {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  padding: 0.8rem;
  background-color: rgb(139, 176, 224);
}

.table__sq:hover,
.selected__sq:hover {
  filter: brightness(1.2);
  scale: 1.05;
}

.selected__sq {
  border: 3px solid rgb(139, 176, 224);
  width: 150px;
  height: 150px;
  border-radius: 12px;
  padding: 0.8rem;
  background-color: rgb(69, 163, 221);
  filter: brightness(1.2);
}
/* TODO: replace filter above with brighter colour */

/* Form inputs and responses */
.form__container {
  width: 100%;
  display: grid;
  border-radius: 12px;
  background-color: rgb(139, 176, 224);
  padding: 2rem;
  grid-template-rows: auto auto auto;
  place-content: center;
}

.upper__container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.contact__subtitle {
  max-width: 30ch;
}
.contact__form__actions {
  padding: 0.8rem;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.dimensions__container {
  display: grid;
  grid-auto-flow: column;
}
.dimensions__container input{
  display: grid;
  grid-auto-flow: column;
  width: 50px;
}

.response__data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.response__container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100px 1fr;
}

.response__title {
  display: flex;
  align-items: center;
}

.form__span {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.contact__heading__container {
}

.submit__btn {
  display: grid;
  place-content: center;
}

.btn__container {
  margin-top: 1rem;
  display: grid;
  place-content: center;
}

.btn__container button {
  padding: 0.6rem 1rem;
  width: 200px;
}
/* Media Queries (MEDIUM DEVICES)

@media screen and (max-width: 824px) {
    .contact__form {
        width: 95%;
      
     
      }
} */
