/* Page container */
.contact__page__container {
  display: grid;
  height: 100vh;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

/* Main form container */
.contact__form {
  width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  padding-top: 3rem;
}

.table__class {
  width: 100%;
}

.order__options {
  display: grid;
  gap: 0.8rem;
  justify-content: end;
  align-items: center;
}

.misc__title {
  text-align: center;
  background-color: rgb(139, 176, 224);
  border-radius: 12px;
  font-family: 'Kodchasan', sans-serif;
}

.table__sq {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  padding: 0.8rem;
  background-color: rgb(139, 176, 224);
}

.table__sq:hover,
.selected__sq:hover {
  filter: brightness(1.2);
  scale: 1.05;
}

.selected__sq {
  border: 3px solid rgb(139, 176, 224);
  width: 150px;
  height: 150px;
  border-radius: 12px;
  padding: 0.8rem;
  background-color: rgb(69, 163, 221);
  filter: brightness(1.2);
}
/* TODO: replace filter above with brighter colour */

/* Form inputs and responses */
.form__container {
  width: 100%;
  display: grid;
  border-radius: 12px;
  background-color: rgb(139, 176, 224);
  gap: 0.5rem;
  grid-template-rows: 1fr auto auto;
  padding: 1rem;
}

/* Titles container */
.upper__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.contact__title {
  line-height: 0.9;
}

.contact__subtitle {
  line-height: 1.2;
}

/* Form */
.contact__form__actions {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0.6rem;

}

.dimensions__container {
  display: grid;
  grid-auto-flow: column;
}

.dimensions__container input {
  display: grid;
  grid-auto-flow: column;
  max-width: 50px;
}

.response__data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.response__container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100px 1fr;
}

.response__title {
  display: flex;
  align-items: center;
}

.form__span {
  display: flex;
  align-items: center;
}

.form__grid__container {
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  line-height: 1.1;
}

.form__grid__container label {
  display: grid;
  align-items: center;
}

input[tpye='file'] {
  display: grid;
  align-items: center;
}

.dimension__inputs {
  display: grid;
  grid-auto-flow: column;
}
.name__container {
  justify-content: end;
}

.contact__title h2 {
  font-size: 3.2rem;
  font-family: 'Kodchasan', sans-serif;
}

.btn__container {
}
input[type='submit'] {
  padding: 0.5rem;
  border-radius: 8px;
}

.btn__container button {
  font-family: 'Kodchasan', sans-serif;
  padding: 0.6rem 1rem;
  width: 200px;
}
/* Media Queries (MEDIUM DEVICES)

@media screen and (max-width: 824px) {
    .contact__form {
        width: 95%;
      
     
      }
} */
