.contact__container {
  background-color: aqua;
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.contact__form {
  width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 0.4fr .8fr;
  margin-top: 1rem;
}

.order__options {
  /* background-color: green;
  border: 2px solid black; */
  display: grid;
  gap: 0.8rem;

  justify-content: end;
  align-items: center;
}

.table__sq {
  border: 4px solid black;
  width: 175px;
  height: 175px;
  border-radius: 12px;
  padding: 0.8rem;
  background-color: white;
}

.selected__sq {
  border: 3px solid green;
  width: 175px;
  height: 175px;
  border-radius: 12px;
  padding: 0.8rem;
  background-color: blue;
}

.form__container {
  width: 100%;
  display: grid;
  background-color: green;
  border-radius: 12px;
  border: 4px solid black;
}

.contact__form__actions {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
}

/* Media Queries (MEDIUM DEVICES)

@media screen and (max-width: 824px) {
    .contact__form {
        width: 95%;
      
     
      }
} */
