nav {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 0.6rem;
  background-color: rgba(0, 0, 0, 0.463);
  width: 100%;
  position: fixed;
  color: white;
}

.logo__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo__container img {
  width: 4rem;
}

.menu__container {
  display: grid;
  justify-self: end;
  align-items: center;
  gap: 1rem;
  grid-auto-flow: column;
  gap: 4rem;
  padding-right: 1rem;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.menu__container > * {
  /* padding: 1rem; */
  color: white;
}

