nav {
  display: grid;
  grid-template-columns: 75px 1fr;

  background-color: rgba(0, 0, 0, 0.463);
  width: 100%;
  position: fixed;
  color: white;
}

.logo__container {
  display: grid;
  padding: 0.2rem;
}

.logo__container img {
  width: 3.4rem;
  display: grid;
  align-items: center;
  border: 2px solid black;
}

.menu__container {
  display: grid;
  gap: 2rem;
  justify-self: end;
  align-items: center;
  grid-auto-flow: column;
  text-transform: uppercase;
  font-family: 'Kodchasan', sans-serif;
  padding-right: 1rem;
}

.menu__container > * {
  color: white;
  padding: 0.2rem 0.5rem;
}

.menu__container a:hover {
  scale: 1.2;
  color: black;
  background-color: white;
  border-radius: 4px;
}
