nav {
  display: grid;
  grid-template-columns: 75px 1fr;

  background-color: var(--nav-background-color);
  width: 100%;
  position: fixed;
  color: var(--alt-font-color);
}

.phone__container,
.burgerIcon__container {
  display: none;
}

.closeBtn__container {
  display: grid;
  width: 100%;
  justify-content: end;
  align-items: center;
  padding-right: 2rem;
  font-size: 2rem;
}

.closeBtn__container button {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
}

.phone__menu {
  background-color: black;
  display: grid;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}

.phone__menu a {
  color: white;
}

.nav__option {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.nav__option:hover {
  filter: brightness(1.1);
  color: slategray;
}

.logo__container {
  display: grid;
  padding: 0.4rem;
}

.logo__container img {
  width: 3.4rem;
  display: grid;
  align-items: center;
  border: 2px solid var(--main-border-color);
}

.menu__container {
  display: grid;
  gap: 2rem;
  justify-self: end;
  align-items: center;
  grid-auto-flow: column;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: 'Kodchasan', sans-serif;
  padding-right: 1rem;
}

.menu__container > * {
  color: var(--alt-font-color);
  padding: 0.2rem 0.5rem;
}

.menu__container a:hover {
  scale: 1.2;
  color: var(--main-font-color);
  background-color: var(--hover-background-color);
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .menu__container {
    display: none;
  }
  .phone__container {
    display: grid;
    justify-content: end;
    align-items: center;
  }
  .burgerIcon__container {
    display: block;
    font-size: 3rem;
    padding-right: 1rem;
    cursor: pointer;
  }
  .burgerIcon__container:hover {
    filter: brightness(0.8);
    scale: 1.1;
  }
}
