.hero__container {
    background-color: white;
  
    margin-top: 3rem;
    min-height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image__slider__container {
    height: 28rem;
    width: 60%;
  
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 90% 10%;
  }
  
  .image__container img {
    height: fit-content;
    width: 100%;
    height: 100%;
  }
  
  /* Media Queries (MEDIUM DEVICES) */
  
  @media screen and (max-width: 822px) {
    .image__slider__container {
      height: 28rem;
      width: 90%;
  
      background-color: aliceblue;
      display: grid;
      grid-template-rows: 90% 10%;
    }
  }
  