* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: 0;
  text-decoration: none;
}

:root {
  /* BACKGROUNDS */
  --main-background-color: white;
  --secondary-background-color: orange;
  --alt-background-color: teal;
  --header-background-color: lightblue;
  --hover-background-color: rgba(10, 107, 139, 0.533);
  /* BORDERS */
  --main-border-color: black;
  --alt-border-color: red;
  --main-border-radius: 0.8rem;
  --round-border-radius: 50%;
  /* FONTS */
  --main-font-color: black;
  --alt-font-color: white;
  --link-font-color: rgb(10, 107, 139);

  --font-size-link: 1.4rem;
  --font-size-XXlarge: 7rem;
  --font-size-Xlarge: 4rem;
  --font-size-large: 2.5rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 1.1rem;
  --font-size-Xsmall: 0.8rem;
  /* CONTAINER WIDTH */
  --main-container-width: 98%;
  --nav-container-width: 100%;
  --reg--login--container: 30%;
  /* TRANSITIONS */
  --transition: all 400ms ease;
  /* PADDING  */
  --padding-large: 3rem;
  --padding-standard: 1rem;
  --padding-inputs: 0.6rem;
  --padding-small: 0.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}


html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.7;
  background-color: var(--main-background-color);
  max-width: 100vw;
  min-height: 100vh;
  
}