.display__container {
  border: 3px solid black;
  margin: 0 8rem;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.display__container img {
  border: 2px solid gold;
  width: 60%;
}