@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

.galleryItem__page__container {
    display: grid;
    overflow: hidden;
    max-width: 100vw;
}

.item__container {
    display: grid;
    margin-top: 5rem;
    padding: 0.8rem;
}

.item__description {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.itemImage__container {
    display: grid;
    object-fit: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.itemImage__container img {
    width: 100%;
}

.item__button__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem 1rem;
}