@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

.galleryItem__page__container {
    display: grid;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}

.item__container {
    display: grid;
    width: 100%;
    margin-top: 5rem;
    padding: 0.8rem;
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
}

.item__description {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.itemImage__container {
    display: grid;
    object-fit: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.itemImage__container img {
    width: 50%;
    height: auto;
    margin: 0 auto;

}

.item__button__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem 1rem;
}

.item__button__container button {
}

@media screen and (max-width: 600px) {
    .itemImage__container img {
        width: 100%;
    }
  }
  