/* Presets */
section.container {
  width: 76%;
  margin: 0 auto;
  margin-top: 5rem;
}

@media screen and (max-width: 1200px) {
  section.container {
    width: 85%;
    margin: 0 auto;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 600px) {
  section.container {
    width: 96%;
    margin: 0 auto;
    margin-top: 3rem;
  }
}
