.footer__container {
    min-height: 200px;
    background-color: var(--nav-background-color);
    width: 100%;
    font-family: 'Oswald', sans-serif;
    display: grid;
    padding: 1rem;
    text-align: center;

}

.footer__data {
    display: grid;
    grid-auto-flow: column;
    
}
.footer__data span {
    color: var(--alt-font-color);
}
.contact__information {
    /* background-color: yellow; */
    display: grid;
}
.site__navigation {
    /* background-color: yellow; */
    display: grid;
}
.social__media {
    /* background-color: yellow; */
    display: grid;
}

.rights__footer {
    padding: 1rem 1rem 0 1rem;
    color: var(--alt-font-color);
    text-align: center;
}

