.hero__container {
  width: 100%;
  min-height: 28rem;
  background-image: url('../../assets/images/black_marble.jpg');
  display: grid;
  place-content: center;
}

.hero__titles__container {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.426);
  padding: 2rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.main__title {
  font-weight: 700;
  font-family: 'Seymour One', sans-serif;
  font-size: 2.5rem;
}

.subtitle {
  font-weight: 400;
}
