.display__container {
  display: grid;
  padding: 1rem;
  padding-top: 6rem;
}

.main__display {
  display: grid;
  grid-template-areas: 
    "slider article1"
    "slider article2"
    "cta cta"  
  ;
  height: max-content;
  padding: 3rem 5rem;
}

.header__article {
  margin: 0.2rem 4rem 0 4rem;

  display: grid;
  grid-area: article1;

  font-family: 'Oswald', sans-serif;
  font-size: 2rem;

  min-width: 500px;
  line-height: 1.1;
}

.main__article {
  display: grid;
  grid-area: article2;
  width: 100%;
  grid-auto-flow: row;
  padding: 2rem 4rem 3rem 4rem;
  height: auto;
  font-family: 'Oswald', sans-serif;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.3;

}

.cta__container {
  display: grid;
  grid-area: cta;
  padding: 2rem 0;
}

/* IMAGE SLIDER  */

.slider__container {
  background-image: url('../../assets/images/marble_background2.jpg');
  border: 3px solid black;
  width: 100%;
  min-width: 400px;
  border-radius: 20px;
  max-width: 700px;
  max-height: 450px;
  grid-template-rows: 1fr auto;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;

  display: grid;
  grid-area: slider;
}

.current__image {
  background-color: aquamarine;
  display: grid;
  padding: 1rem;
  align-items: center;
  margin: 0.6rem;
  border: 3px solid black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.944);
}

.current__image img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.slider__control {
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 0.2rem;
}

.slider__icon {
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
}

/* END OF IMAGE SLIDER  */


/* Media Queries (MEDIUM DEVICES) */
@media screen and (min-width: 1400px) {
  .header__article {
    font-size: 2rem;
  }
  .main__article {
font-size: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .header__article {
    font-size: 1.5rem;
  }
  .main__article {
font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .main__display {
    display: grid;
    grid-template-areas: 
      "article1"
      "slider" 
      "article2"
      "cta"  
    ;
    height: max-content;
    padding: 3rem 5rem;
  }
  .header__article {
    font-size: 1.5rem;
    padding-bottom: 3rem;
    text-align: center;
  }
  .main__article {
  font-size: 1rem;
  }
}

