#display__container {
  display: grid;
  grid-template-areas:
    'slider article1'
    'slider article2'
    'slider article3';

  font-family: 'Poppins', sans-serif;
  margin-bottom: 8rem;
}

/* Short intro text */
.header__article {
  padding: 0.2rem;
  display: grid;
  grid-area: article1;
}

.header__article p::first-line {
  font-weight: 900;
}

/* Main text body */
.main__article {
  display: grid;
  grid-area: article2;
}

.main__article p::first-line {
  font-weight: 900;
}

.article__two {
  display: grid;
  grid-area: article3;
}

.article__two p::first-line {
  font-weight: 900;
}

.slider__container {
  display: grid;
  grid-area: slider;
}

/* IMAGE SLIDER  */
.slider__container {
  background-image: url('../../assets/images/marble_background2.jpg');
  display: grid;
  grid-area: slider;
  border: 3px solid black;
  width: 100%;
  border-radius: 20px;
  width: 600px;
  max-width: 600px;
  grid-template-rows: 1fr auto;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
  margin-right: 5rem;
}

.current__image {
  display: grid;
  padding: 1rem;
  align-items: center;
  margin: 0.6rem;
  border: 3px solid black;
  border-radius: 18px;
  object-fit: contain;
  overflow: hidden;
  height: auto;

  background-color: rgba(255, 255, 255, 0.944);
}

.current__image img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.slider__control {
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.slider__icon {
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  #display__container {
    display: grid;
    grid-template-areas:
      'article1'
      'article2'
      'slider'
      'article3';
  }
}

@media screen and (max-width: 600px) {
  #display__container {
    display: grid;
    grid-template-areas:
      'article1'
      'article2'
      'slider'
      'article3';
  }
  .header__article {
    padding: 0.2rem;
    display: grid;
    grid-area: article1;
  }
  .main__article {
    padding: 0.2rem;
    display: grid;
    grid-area: article2;
    margin-bottom: 0.9rem;
  }
  .article__two {
    padding: 0.2rem;
    display: grid;
    grid-area: article3;
    margin-top: 0.9rem;
  }
  .slider__container {
    display: grid;
    grid-area: slider;
    width: 100%;
  }
}
