.cta__container {
    display: grid;
    gap: 4px;
}

.button__container {
    display: grid;
    justify-content: center;
}

.cta__button {
    width: 250px;
    padding: 0.5rem;
    border-radius: 22px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-family: 'Kodchasan', sans-serif;
}

.cta__button {
    color: black;
    transition: all 0.4s ease-out;
}

.enquire__button {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.enquire__button:hover {
    background-image: url('../../assets/images/marble_background2.jpg');
    scale: 1.1;
}

.gallery__button {
    background-color: black;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.gallery__button:hover {
    background-image: url('../../assets/images/black_marble.jpg');
    scale: 1.1;
}
