
.hero__container {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  background-image: url('../../assets/images/black_marble.jpg');
  display: grid;
  place-content: center;
}

.hero__titles__container {
  text-align: center;
  color: var(--alt-font-color);
  background-color: var(--nav-background-color);
  padding: 2rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  border-radius: 12px;
}

.main__title {
  font-weight: 700;
  font-family: 'Seymour One', sans-serif;
  font-size: 6rem;
}

.second__font {
  font-family: 'Righteous', cursive;
}

.subtitle {
  font-weight: 400;
  font-family: 'Kodchasan', sans-serif;
}

.continue__btn__container {
  background-color: var(--main-background-color);
  position: absolute;
  bottom: 75px;
  width: 100%;
  display: grid;
  justify-content: center;
}

.continue__btn {
  font-size: 2rem;
  background: none;
  border: none;
  padding: 0.2rem 1rem;
  font-family: 'Kodchasan', sans-serif;
} 

.continue__btn a {
  color: var(--link-font-color);

}

.continue__btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  
}