.main__container {
  width: 100%;
  display: grid;
  justify-content: center;
}

.gallery__ul {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem 12rem 1rem 12rem;
}

.gallery__listItem {
  height: fit-content;
  padding: 1rem;
}

.gallery__item {
  padding: 0.2rem;
}

.gallery__item img {
  width: 100px;
  width: 100%;
  object-fit: cover;
  border: 2px solid black;
}

.gallery__item p {
  color: black;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 0 1rem;
  border: 2px solid black;
  font-weight: 500;
  line-height: 1.2;
}
